{
  "ONBOARDING_SECRET": "YOUR_ONBOARDING_SECRET",
  "VALIDATOR_POSTGRES_PASSWORD": "YOUR_PG_PASSWORD",
  "VALIDATOR_CLIENT_ID": "YOUR_OIDC_CLIENT_ID",
  "VALIDATOR_CLIENT_SECRET": "YOUR_OIDC_CLIENT_SECRET",
  "CNS_UI_CLIENT_ID": "YOUR_CNS_UI_CLIENT_ID",
  "WALLET_UI_CLIENT_ID": "YOUR_WALLET_UI_CLIENT_ID",
  "DA_UTILITY_AUTH_CLIENT_ID": "YOUR_DA_UTILITY_CLIENT_ID",
  "DA_PQS_PG_PWD": "YOUR_PQS_PG_PASSWORD",
  "DA_PQS_OAUTH_CLIENT_ID": "YOUR_PQS_OAUTH_CLIENT_ID",
  "DA_PQS_OAUTH_CLIENT_SECRET": "YOUR_PQS_OAUTH_CLIENT_SECRET",
  "DA_PQS_JFROG_AUTH": "YOUR_BASE64_JFROG_AUTH_TOKEN",
  "KCNM_OIDC_CLIENT_ID": "YOUR_KCNM_OIDC_CLIENT_ID",
  "KCNM_PG_PWD": "YOUR_KCNM_PG_PASSWORD"
}
